<script language="javascript" src="/javascripts/blogcomments.js"></script>
<script language="javascript" src="/javascripts/jquery.autogrowtextarea.js"></script>

<script language="javascript">
$(document).ready(function() {
 	var blogCommentWidget = new BlogCommentHandler({});
});
</script>

<div class="entry" id="<%= blogentry.id %>">
<h2><%= blogentry.title %></h2>
<h5><%= blogentry.submitdate.toDateString() %></h5>
<p><%- blogentry.content %></p>

<% if (user) { %>
		<div class="adminops">
			<a href="/admin/blogentries/edit/<%= blogentry.id %>"><img src="/images/icons/edit.png" alt="Edit" width="20" /></a>
			<a class="deleteentry" id="delete_<%= blogentry.id %>" href="Javascript:void(0);"><img src="/images/icons/delete.png" alt="Delete" width="20" /></a>
		</div>
<% } %>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.kristinazakrzewski.com/blog/<%= blogentry.id %>" data-via="k_zakrzewski">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <div class="comments-wrapper">
        <ul class="comments-list">

	        <li>
		        <div class="comments-header">
		        	<img class="icon" src="/images/comment.png" align="left" width="20" /> &nbsp;<strong>Comments</strong>
		        </div>
	        </li>
<%	for (var j=0; j<blogentry.comments.length; j++) { %>
<%
    var now = new Date().getTime();
    var then = blogentry.comments[j].date;
    var diff = now - then;
    diff = diff / 1000;  // get to seconds
    var timeago = "";
    if (diff / 60 < 1) {
        timeago = "A few seconds ago";
    } else {
        // more than a minute
        var minutes = Math.floor(diff / 60);
        if (minutes < 60) {
        	if (minutes == 1) {
            	timeago = minutes + " minute ago";
            } else {
            	timeago = minutes + " minutes ago";
            }
        } else {
            var hours = Math.floor(minutes / 60);
            if (hours < 24) {
            	if (hours == 1) {
                	timeago = hours + " hour ago";
                } else {
                	timeago = hours + " hours ago";
                }
            } else {
                var days = Math.floor(hours / 24);
                if (days < 7) {
                	if (days == 1) {
	                    timeago = days + " day ago";
	                } else {
	                    timeago = days + " days ago";
	                }
                } else if (days < 30) {
                    var weeks = Math.floor(days / 7);
                    if (weeks == 1) {
	                    timeago = weeks + " week ago";
	                } else {
	                    timeago = weeks + " weeks ago";
	                }
                } else if (days < 365) {
                    var months = Math.floor(weeks / 4);
                    if (months == 1) {
	                    timeago = months + " month ago";
	                } else {
	                    timeago = months + " months ago";
	                }
                } else {
                    timeago = "Over a year ago";
                } 
            }
        }
    }
%>

	        <li class="user-comment" data-commentid="<%= blogentry.comments[j].id %>" data-commentuserid="<%= blogentry.comments[j].userid %>">
				<a href="#"><div class="delete-x hidden">x</div></a>
		        <div class="comment">
		        	<img height="20" src="<%= blogentry.comments[j].userpic %>" /> <span class="hlight"><%= blogentry.comments[j].username %></span><br/>
		        	<%= blogentry.comments[j].body %><br/>
		        	<span class="time-ago"><%= timeago %></span>
		        </div>
	        </li>
<% } %>
	        <li class="comments-footer">
		        <div>
		        	<a href="#" class="add-a-comment">Add a comment</a>
		        </div>
	        </li>
	        <li class="add-comment" style="display:none;">
	        	<div class="comment-user"></div>
		        <div class="comment">
		        	<textarea maxlength="500" class="textarea-grow" cols="110" placeholder="Start typing here to add a comment"></textarea>
		        	<input class="submit-comment" type="submit" name="Submit Comment" value="Submit Comment">
		        	or <a class="cancel-comment" href="#">Cancel</a>
		        </div>
	        </li>
	     </ul>
      </div>
</div>

<p><a href="/blog">&lt;&lt; Return to blog</a></p>
<%- contentFor('contenttitle') %>
<%= blogentry.title %>
<% if (user) { %>
		<a href="/admin/blogentries/edit/<%= blogentry.id %>">Edit this entry</a>
<% } %>
<%- contentFor('contentright') %>
<% if (blogentry.image > 0) { %>
<div>
	<img align='center' style='max-width:290px;' src='/images/blog/<%= blogentry._id %>' />
</div>
<br/><br/>
<% } %>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad3.png" width="300" /></a>
