<img src="/images/<%= book.id %>.png" width="150px" align="left" class="bookicon"/>
<h2><%= book.title %></h2>
<h5>Publication Date: <%= book.publishdate %></h5>
<p><%= book.description %>
</p> 
<%- contentFor('contenttitle') %>
<%= book.title %>
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
