<a class="booklistlink" href="/books/Cold_Coffee">
<div class="booklist">
	<img src="/images/coldcoffee_cover_small.png" align="left" class="bookicon"/>
	<h2>Cold Coffee</h2>  
	<h5>Published Aug 27, 2012</h5>
	<p>Beatrice Johnson. Fiercely independent. Fiercely protective. Fiercely talented when it comes to building 
	anything out of raw materials. And fiercely...not able to pick herself up after the death of her husband. Two 
	years after, the memories of her late husband ever present, her best friend suddenly moving in, and 
	her daughter struggling with life in general, Bea decides to begin rebuilding her family's lives. After 
	all, with a little bit of elbow grease, and maybe some...(click to read more)
	</p>
</div>
</a>
<a class="booklistlink" href="/books/Catching_Artemis">
<div class="booklistlast">
	<img src="/images/catchingartemis_cover_small.png" align="left" class="bookicon"/>
	<h2>Catching Artemis</h2>
	<h5>Work in Progress</h5>
	<p>Ohio is known for many things, including its serial killers.  Thankfully, Columbus has Detective Edward Milkovic 
	on duty. And thankfully, our serial killer has hit a road bump in his master plan.  That road bump is Miss Lucy Bennett. 
	Will Detective Milkovic find the serial killer who has already taken the lives of about nine individuals?  Will our serial 
	killer finally get his latest victim? Or will Lucy Bennett prove to be as elusive as her nickname....(click to read more)</p>
</div>
</a>
<%- contentFor('contenttitle') %>
Novels
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
