<div style="border:1px solid #888; padding:10px; background-color:#fbfbf9;">
<div style="text-align:center;">
	<h1>Cold Coffee</h1>
</div>
<p><b>Chapter 1</b></p>

<p>Ding Dong.</p>

<p>One eye opened and peered at the fuzzy red numbers. 3:22 a.m.</p>

<p>Ding Dong. Was this her alarm? Heavens no, she hated alarms. Only Richard ever used an alarm. She should have buried that clock with him. What was that sound? She was disoriented.</p>

<p>Ding Dong.</p>

<p>The doorbell. Who on earth was ringing her doorbell at this hour? Allen was in New York, and Lillian was down the hall with the boys; and while Lillian didn’t sleep much, she would most certainly be asleep at 3:23 a.m. Thus, using deductive reasoning, it was doubtful that it was the police turning any of them in or reporting something life threatening. Should she even bother getting the door? She did not like to be awakened. All of her friends, correction, <i>friend </i>knew that.</p>

<p>Ding Dong.</p>

<p>She gritted her teeth and rolled herself upright slowly. The expletives flew about her mind like horseshoe flies threatening to strike out, but they remained mostly whizzing and whirring about. Her gentility was trying to swat them away; however, her gentility was losing. There was a pause in the ringing. She sat on the edge of the bed, almost fully awake when the next series of rings began.</p>

<p>Ding Dong. Ding Dong. Ding Dong. The ringer was persistent.</p>

<p>Bea stood up slowly as the blood needed time to circulate through her body. Her mumbling started to become more coherent as she shuffled down the winding staircase, careful to hold onto the railing as the stairs were old, rickety, and, frankly, so was she.</p>

<p>“Who the hell is ringing my door at 3:00 in the morning?” she cursed through gritted teeth as she unlocked the front door. She opened it only to find Ezzie standing with her dramatic valise, her untamed ink black hair balled up under a safari hat, and her signature purple leggings and oversized purple shirt adorning her comfortable frame.</p>

<p>“Beatrice Anna Johnson. Why I could have been a rapist coming to rob and rape you at gunpoint. Not looking out the peep hole. I swear.” Ezzie floated through the foyer in a stream of purple.</p>

<p>“Ezzie, if someone wants to rob and rape this, let ’em go ahead and try,” Bea said in a flat voice as she continued to hold the door open. Bea seemed unfazed by her friend’s visit. However, she was carrying luggage, atypical of Ezzie’s social calls.</p>

<p>“I hate my apartment; so, I’m moving in,” Ezzie announced casually. “Coffee?” </p>

<p>She walked into the kitchen, her left hand held out as if she were a cartoon supermodel adorned in a luxurious fur—something Ezzie would never be in (animals didn’t come in purple) and her hand in mock hold of a divine poodle’s leash. Bea had always theorized that her walk had been from walking for years in heels. And despite the fact she did not always wear heels, her walk suggested otherwise.</p>

<p>“Do I need to be civil?” Bea questioned as she shuffled her bare feet into the bright yellow kitchen. Yellow hadn’t been her choice.</p>

<p>“So, coffee it is.” Ezzie smiled, unusually perky at such an early hour.</p>

<p>Ezzie floated around the kitchen as if she had, in fact, lived in that house herself for years. And because the kitchen was small, she could quickly make the coffee and set out two of the old china cups Bea always sipped from, the only things feminine about her, her white china cups with the gray trim around the edges. They were simple like her, fragile like her.</p>

<p>“So why are you moving in? Why not just paint the apartment?” Bea was always blunt. This was one of the reasons Richard loved her. And this was why other people did not.</p>

<p>“It’s too stifling for my creativity. Plus, you have the space, and honestly, you could use some company.” Ezzie was equally as blunt; this is why the two women got along. They accepted their bluntness, their flaws, and their own personal ways without argument or apology.</p>

<p>“Ezzie, the only thing I want to stifle is you since it is 3:00 IN THE FUCKING MORNING!” Bea exclaimed through clenched jaw. She was NOT a morning person, and 3:00, though near her bedtime, was not the hour at which she accepted visitors.</p>

<p>“What time is it?”</p>

<p>Bea’s eyes glanced angrily at the hall clock, “Almost 3:30!”</p>

<p>“A.M.? You usually go to sleep at this hour.”</p>

<p>“Well, I went to bed early last night.”</p>

<p>“Having trouble sleeping?”</p>

<p>“This isn’t about me, it’s about you.”</p>

<p>“Have you started going to that therapist yet?” </p>

<p>“Not about me.”</p>

<p>“You haven’t, have you?”</p>

<p>“Not about me,” Bea began to sing in forced politeness.</p>

<p>“Richard’s been gone for two years.”</p>

<p>“No he hasn’t.”</p>

<p>“Almost two years.”</p>

<p>Bea stood up from the table and poured herself some coffee.</p>

<p>“I’m not ready.” She stared at the pot of coffee in her aged hand, watching as the coffee swished and swirled just as Bea’s sadness began to swish and swirl in her stomach.</p>

<p><b>Chapter 2</b></p>

<p>In 1973 Bea wore her sandy hair long. The long locks flowed and swelled in slight waves that Bea always found awkward but that Richard thought exquisite. And during those years, the longer her hair, the shorter her dresses became. Richard would appreciate those years of long hair and short dresses. However, had they not been a message of liberation from the conservatism that she felt was holding women back, she would not have worn them, as pants were clearly more her style. </p>

<p>“You know I hate dinner parties,” Bea hissed under her breath as she alternated between stirring a pot of spaghetti sauce and tucking her hair behind her ear. Irritated did not really describe what she was feeling; Bea was uncomfortable. She had never been one to entertain friends. Before she met Richard, she was a loner, someone who did everything by herself, and she was quite comfortable with it. However, Richard was social, and with his social prowess, came social situations. </p>

<p>“I’ve known her since grade school, Baby Bea. She’s different; she’s fun…actually, hard to explain what she’s really like. But I know you’ll love her,” Richard said as he leaned against the counter top and watched his wife cook. He loved watching her cook, watching how easily it was for Bea to create masterpieces, be it cooking, building, painting, or repairing. In his mind, there wasn’t anything she couldn’t do. Many a time Richard would just sit and watch his wife as she did the everyday chores. While Richard was the more social of the two, he was also an avid observer. He loved to watch; watch Bea cook, watch her play with her hair when she was reading, and he loved the way Bea pretended to be angry with him, when really she was nervous to meet someone new.</p>

<p>“Do I love any woman?” she snipped, her stirring becoming quicker, her hands tightening around the handle of the spoon with each spin of the pot. Had she stirred any faster, the sheer speed of the spin would have splattered the sauce all over the wall. And as she stirred, visions of the last dinner party they had, stirred in her mind. Visions of offending the husband by discussing politics—a topic Bea felt passionately about. And had that husband agreed politically, perhaps the dinner would not have ended in various levels of four letter words, thrown napkins on plates, and a mention of lost business opportunities for Richard.</p>

<p>“Trust me. She’s very much not what anyone ever expects. Very…”</p>

<p>“Very into dinner parties, and I’m not into dinner parties. Who the hell likes ’em?” Again, she began to stir vigorously.</p>

<p>“It’s good to have a variety of friends,” he reasoned, his voice soft, but convincing which made her emotions hover over the line of nervousness and comfort.</p>

<p>“Again, how many friends do I have?” she asked, almost pleadingly, as if to say, “Please don’t make me do this.”</p>

<p>“It’s always good to have at least one. You never know when you will need one.” He stood behind her and wrapped his arms around her. “Smells good.”</p>

<p>“You’re changing the subject.”</p>

<p>“Of course I am.” He smiled, kissed her cheek and rested his head on her shoulder. She slowed her stirring.</p>

<p>Ding, Dong. Bea’s stirring stopped.</p>

<p>“That’s her,” he said excitedly as he did a pretend jog to the door, as his toothy smile reached from one side of his chiseled face to the other.</p>

<p> “Honestly, how did I end up with ‘Class Friendliest’?” she spat, wishing she could fast forward through the evening.</p>

<p>Bea heard the door open and a loud, “Richard, honey, it’s so nice to see you again. You look fabulous as always.”</p>

<p>“Ezzie, you look terrific, and this must be David.” Richard hugged the woman donning an entirely purple outfit, and then he turned and shook the hand of David, a simply dressed-in-brown man who stood so close to Ezzie that he looked more like an accessory than a person.</p>

<p>“Yes. David and I are living together, not married; we aren’t at that phase yet, are we? We’re just at the physical phase right now.” Ezzie’s ravenous black curls seemed to explore the house without her. “Mmmmmm, something smells delicious. Pasta, I take it? I love pasta. Richard you know I LOVE pasta.” Ezzie touched his arm. And had it been anyone else, it could have been interpreted as a flirtation, but Ezzie was not flirting. She was inviting herself into Bea’s and Richard’s lives.</p>

<p>“I know you like pasta. Actually, it was Bea’s idea.”</p>

<p>“I like her already.” Ezzie waved her hand like a classic celebrity as she walked deeper into the hallway and inhaled the sights of the house.</p>

<p>It was then that Bea walked into the room, practically running into Ezzie’s black curls. And while she would have done anything not to be noticed, Ezzie noticed Bea right away. Ezzie’s eyes met Bea’s. She squinted, smiled and without taking her eyes off of Bea, pointed her finger at Richard as if pushing invisible buttons and said, “I like her.”</p>

<p>Standing as if she had been skewered onto a pole, Bea looked out through her long sandy blond wavy hair that seemed to be trying to crawl down into the floorboards to escape the social situation. And while her orange dress might indicate a vibrant “hello” if worn by some, it did not look that way draped over Bea’s frame. It seemed to hiss like a fire lapping at a wet log, hissing and spitting at the newness of the situation. In fact, the stiff stature of Bea would be hidden from no one; this was how she was in social situations, straight, to the point and incredibly uncomfortable. She did not enjoy small talk; she did not enjoy laughing at jokes that were not funny; and she did not like meeting people who would potentially waste her time with conversation in which she would lose interest easily. She was straight and simple—straight dress, straight legs, straight hips, and straight torso. And she was straight out of her comfort zone.</p>

<p>Richard was right; Ezzie was unique, different, almost exotic looking. Her eyes were a deep brown and the size of almonds; her nose was Romanesque in shape; her cheekbones were high and chiseled. And her hair—her hair had a personality of its own, hanging just beyond her shoulders in tight but separate curls that would compete with coal over which was darker. Incidentally, her hair would win—it always did.</p>

<p>Ezzie, like a Hollywood celebrity, stood in a long purple dress and rope sandals, neither a popular fashion statement of the time, but workable because she was Ezzie. Hanging from her long neck were long and large purple beads. Ezzie had decorated her ears and wrists with matching baubles. Likewise, the man next to her seemed to be an accessory. In fact, Bea was certain if he had a handle on his back, Ezzie would carry him like a purse.</p>

<p>Everything about Ezzie seemed to pull at those around her, bringing them closer to her. Her smile was welcoming, not intimidating, but classic in style. And typical of all of Ezzie’s class, Bea actually did feel welcomed by this woman she had not met until that night.</p>

<p>“Yes, honey, you and I are going to be good friends,” she linked her arm in Bea’s and led her to the kitchen. “Do you like coffee? Wait, what am I saying? Of course you do.” Her left hand waved as she walked, waving to an invisible crowd of fans.</p>

<p>Bea was confused; no woman had ever taken to her as easily as Ezzie had, nor had any person ever linked arms with her within the first 45 seconds of meeting her. Bea did not relax; in fact, she was as stiff as ever.</p>

<p>“Perfect. Now all we gotta do is loosen you up. Coffee, black?” Ezzie began pouring coffee as if it were her own home.</p>

<p>“Well, yes, actually,” Bea said as she sat down at the kitchen table, her back in line with the back of the chair. It was almost as if she were a guest in her own home.</p>

<p>“See. You and me…we were meant to meet.” Ezzie winked. </p>

<p><b>Chapter 3</b></p>

<p>Everything in Bea’s life had a place, a category. Ezzie was Bea’s slice of wildness, cutting in when needed. Richard was her emotional piece; her children were her living and breathing dreams; and her house…her house was her masterpiece.</p>

<p>The House. It was The House that Bea had fallen in love with when she had moved into the area. It was The House she dreamt about because of its heritage and its antique street appeal. It was Their House as soon as she saw it. Richard and she had bought this home when they were just married. A find for the money they had in those days, the 1800’s architecture alone appealed to Bea. It had always been Bea’s dream to fix up an old house, and it had always been Richard’s dream to watch her. </p>

<p>The house had captured her immediately with the 10 foot ceilings outlined in white crown molding; the standing room that still had the dividing doors, separating the room between the cigar smoking male section and the gossiping female counterpart section; the dining room with the original cherry wood pocket doors and size enough to feed a small army; and hidden up a closet staircase in the back of that dining room to be seen and not heard were the servants’ quarters (which she never used as such). The master bedroom that was connected to the nursery had its original double doors, and finally there was something she hoped to never use, a widow’s closet. Every nook and cranny charmed Bea when she saw it. Every nook and cranny called for Bea to bring it back to life.</p>

<p>And while it was quite the find, it was quite the bit of work. From use, the floors were worn, the paint cracked boards needed to be replaced on the front porch, the kitchen needed updating, bathrooms needed to be added. The woman who had left it, had never wanted to change anything after her husband had died. When at last she moved, it had the makings of an abandoned house that was ready to be razed. The wallpaper was chipping and peeling. And what wallpaper remained on the walls was old and faded, with age spots throughout. The floors squeaked, and in fact, were rotten in places where water had seeped in. Bea remembered feeling sorry for the old house when she saw its condition, but she also remembered promising to fix it, bandage it, from the moment she placed her hand on the door handle. </p>

<p>In fact, Bea was still working on restoring the old house in the later years of their marriage; however after his death, the house fell back to its creaky sleep it had when they bought it. And now the hands that had worked hard to preserve and repair were suffering from sheer madness, removing, tearing, scraping layer after layer of her handiwork. The house was down to its naked framework, starving and weak from its current purging.</p>

<p>Bea had removed all the wallpaper in her own bedroom the night Richard was buried. Her fingers, bleeding from paper cuts, tore at the dry paper. She chipped it, taking her sorrow out on those old walls, clawing and scraping them to remove their skin. And once that skin was removed, she didn’t do anything to dress it back up. She just left it, naked. From the bedroom, she had moved to her bathroom, to the guest room, to the dining room, to Allen’s room, to Allen’s bathroom, to Lillian’s bedroom, and finally to Lillian’s bathroom.</p>

<p>The bathroom Bea had been working on was one of four in the old plantation home. The bathroom was Lillian’s as she grew up, evident by the Victorian wallpaper decorated with pink and red roses. The entire bathroom could have easily represented Lillian at one time; it was classic, it was fresh, and it was where, as a teenager, she spent much of her time. Unfortunately, the bathroom seemed to tear through its life as Lillian did. Its paper was ripping at the corners. Its once fresh colors were fading so that it didn’t seem like the same bathroom, much like Lillian didn’t seem like the same vibrant woman she once was. And to cover this change, Bea was tearing down the evidence that this bathroom was once very much alive.</p>

<p>“So, how long are you staying?” Bea questioned as she ripped the wallpaper from the bathroom wall. It tore and cracked as old paper does, leaving bits of dust at her bare feet.</p>

<p>“I told you I was moving in. Weren’t you listening?” Ezzie watched as Bea’s hands violated the walls of the bathroom, her eyes saddening with each tear.</p>

<p>“Ezzie, you also told me that you were going to marry Ringo Starr, and where did that get you?”</p>

<p>“Honey, I proposed. Can I be blamed if he didn’t respond?”</p>

<p>“Seriously.”</p>

<p>“I am serious, Bea. I’m moving in.” </p>

<p>“Lillian and the boys keep me company here.” </p>

<p>“Now, I know you could use the company, what with Lillian always on the go taking the boys to who knows what. You have enough room, my lease is going to run out, and…well, if you want me to say it, I’ve grown rather lonely. I hardly see you anymore. You are always cooped up in here.”</p>

<p>Bea tore more paper in the old bathroom. “I’m not cooped up. I’m working.”</p>

<p>“Honey, you can’t stay in this house all your life. And this, well, I’m just going to say it, isn’t healthy.”</p>

<p>“Who says?” Bea’s hands methodically pulled, tugged, ripped and snapped the paper like a scorned woman tearing the photo of her lover.</p>

<p>“I say, and as your best friend, I am going to make it my mission to get you…back to you. I’ve given you enough space. It’s time for me to invade.” Ezzie leaned against the old desk just outside of an arm’s reach of work, avoiding manual labor like royalty avoiding common chores.</p>

<p>Bea stopped her work and eyed Ezzie as Ezzie continued to take in the room with her eyes.</p>

<p>“Bea, honey, what exactly are you doing with this house?” Ezzie questioned almost sympathetically.</p>

<p>“I’m redoing it.”</p>

<p>“The tearing down, I see. But where exactly is the redoing?”</p>

<p>Bea came down from her small footstool. She had been pulling the paper for two days—apparently, Richard had glued the paper right onto the plaster, because it did not want to come off of the walls. It was repelling her tugs, rebelling against her will to remove it.</p>

<p>“You sometimes have to tear down before you can fix up,” Bea said simply.</p>

<p>“Yeah, well, I’ll say you’ve got the tearing down just fine.”</p>

<p>Bea returned to her footstool. “Ya know, if you can do it better…”</p>

<p>“I’m not critiquing your craftsmanship—just…is it healthy?”</p>

<p>“I would say running away from your apartment…”</p>

<p>“I’m not running away.”</p>

<p>“And I’m working on restoring. I’d say we were even.”</p>

<p>“You are hiding.”</p>

<p>“No, I’m not.”</p>

<p>“You are, Bea, and you know it. I just can’t figure out what from.”</p>

<p>“I like being in my home. I like fixing.”</p>

<p>“I know…but this isn’t fixing.”</p>

<p>“You have loads of opinions don’t you?”</p>

<p>“You need to get out more.”</p>

<p>“Again with the opinions.”</p>

<p>“Again with the hiding.”</p>

<p>“Tell ya what I’ll do. You can stay and offer all of your worldly advice…if you do the high stuff.”</p>

<p>“The high stuff?”</p>

<p>“You know I hate heights.” It was true. Bea did hate heights. And the evidence lay in the fact that nothing had been touched above her reach from the second step of her footstool.</p>

<p>“You know I hate manual labor,” Ezzie retorted crossing her arms.</p>

<p>“Hey, it’s the heights or the hibernation.”</p>

<p>“Damn you.” </p>

<p><b>Chapter 4</b></p>

<p>While Bea did most of the repair work around the house, Richard occasionally lent a helping hand. But not that day. Instead he smiled as he observed his wife. Leaning against the counter, he sipped on a Pabst Blue Ribbon, crinkling the can slightly in his strong hands. All the while his soft gray eyes admired the craftsmanship of his wife, the way her hands meticulously weaved in and out, smoothing and scraping the spackle she used to patch the walls. She looked like an artist finishing a masterpiece, the way she stood back to admire her work, then add a touch up, stand back again, touch up, think a moment and resolve that that spot in particular was finished.</p>

<p>“Baby Bea, do you think you could choose any other color than these browns, and blues?” he asked finally.</p>

<p>“I like brown and blue. Goes with everything, easy to match, earthy.”</p>

<p>As she patched the holes in the wall made by the previous owners, Bea looked over at her relaxing husband who had just finished his yard work. His jeans were slightly tinged with green at their frayed bottoms; his boots were riddled with grass confetti. His t-shirt had been one that he had worn in college, the lettering fading on the stale gray shirt. And although in his late twenties, he still looked like he was in high school, his body trim, his hair still fearing the touch of a comb, and his freckles dancing all over his nose. Lillian and Allen would inherit those same freckles.</p>

<p>“And what would you suggest?” she questioned, realizing her answer hadn’t sufficed.</p>

<p>“I don’t know. Yellow is always nice.” He sipped his beer carefully, knowing that yellow had never been a color Bea had appreciated with the enthusiasm that Richard had.</p>

<p>“You’re kidding?” Her tone was almost condescending. However he didn’t take offense to it, knowing that she hadn’t intended to talk down to her partner.</p>

<p> “No, hon, yellow is a happy color, it’s sunshiny, it’s welcoming…”</p>

<p>“It’s yellow.”</p>

<p>“Lots of happy things are yellow.”</p>

<p>“Urine is yellow too; and I wouldn’t call it happy.”</p>

<p>“Maybe it’s relieved to be out of the body, we don’t know.” His gray eyes seemed to wink without winking, a quality that always charmed his Bea. </p>

<p>“Yellow, huh?” she eyed the kitchen cabinets that she had just painted white, the awkward angles of the small kitchen that would have shown so many shadows if painted blue, making it a comfortable room for all who entered it. “You really want yellow?”</p>

<p>“Well, I’m just saying it would be a nice color.” Smiling his hypnotic smile, he turned to put his beer on the counter, knowing that he had sold her on the yellow.</p>

<p>She sighed and conceded with a smirk that was as close to a smile as she usually got, “Ya know, sometimes I can’t stand how easily I cave in to your requests.”</p>

<p>The powerful Bea was charmed again by a man who had a smile that made his eyes squint, and his cheeks disappear, consumed by teeth. Richard came up behind his wife and wrapped his arms around her waist. “You love me,” he said, his voice carrying a manly childishness.</p>

<p>“I must, to paint my kitchen yellow,” she chuckled, a chuckle that invited Richard to begin kissing her neck.</p>

<p>She sighed deeply. </p>

<p>“Uh oh, what’s up?”</p>

<p>“Nothing.” She was unconvincing.</p>

<p>“That sigh was not a ‘nothing’. If you really don’t want the yellow…”</p>

<p>“It’s not the yellow,” she said quietly.</p>

<p>“Then what…”</p>

<p>“It’s been almost a year…”</p>

<p>“It’ll happen, Bea. Sometimes it takes that long…”</p>

<p>“Well, I’ve never taken that long to do anything. I just go in there and do it…”</p>

<p>“I know, hon, but realize that you cannot ‘go in and do’ this. It’s just the way it is. It’ll happen.”</p>

<p>“But what if it doesn’t?”</p>

<p>“It will,” he soothed as he turned her around and kissed her forehead. “Have I ever lied to you?”</p>

<p>“No.”</p>

<p>“Before you know it, we will be pregnant. You will have that baby to get up for in the middle of the night, to burp, potty train, and rear…”</p>

<p>“I hope you are right.”</p>

<p>“I usually am.”</p>

<p>“Why is it that you get to be right, and I have no control over this? It doesn’t seem very logical to me.”</p>

<p>“Life is not logical. It just is.” Richard smiled and wiggled his eyebrows. “Now let’s get up there and practice makin’ some babies.” </p>

<p><b>Chapter 5</b></p>


<p>She stood in the attic, the floor cold on her bare feet. The attic was always breezy, and it was Richard’s favorite place. It wasn’t lavishly decorated. It wasn’t even modestly decorated, containing only a desk with a single chair, a small lamp, an old typewriter, the only picture of Bea that she would allow him to take, and the old cedar chest. And while not the most inviting room in the house, Bea visited the attic once a day, every day. It gave her something to look forward to. She could be with Richard despite being without him.</p>

<p>She shuffled across the floor to the cedar chest. It sat with her, keeping her company on many a lonely day. It wasn’t what many would call a beautiful box, but it was strong, held together by old hunks of nailed-together scraps that she had found in her father’s workshop. She built it for Richard one Christmas. She had carved their initials in its top, fastened the lid with old hardware she bought at an antique auction, and she had varnished it, to preserve it, keeping it a timelessly beautiful rustic piece of furniture. </p>

<p>Lifting the lid, the scent of cedar wafted upward. It was one of her favorite smells. She shut her eyes for a moment, remembering the Christmas she gave this to Richard. They were barely out of college. They didn’t have any money, so they made their gifts that year. She pulled some old cedar and fastened it together, making the most of the pieces she was given. Her strong hands hammered each nail, fastened each piece of old black hardware. And as a finishing touch, she placed the only picture of herself at the bottom of it. And while it was not worth much in material gain, it was his favorite gift she had ever given him. He loved the chest, and the two, together, put every memory they wanted to save in the recesses, which seemed endless. Richard’s gift of self was the second to grace the chest’s bottom. He had glued some of Bea’s roses from her bushes to a frame, forgetting that they would wilt and dry. So by the time he actually gave her the gift at Christmas, it looked like something Frankenstein would have presented his bride. His head had bowed when he saw what happened to it, how the petals had dropped, how the wood on the frame had absorbed some of the moisture and faded. She smiled and began to laugh, creating a domino effect between the two of them. And while she did not put the frame out for very long, she did put a picture of Richard and her in that frame and placed it in the chest. It would be the only picture of the two of them together. </p>

<p>Opening her eyes, Bea pulled out a small shoebox. This was one of her contributions. She lifted its lid, letting loose the collage of every picture Bea adored. While Bea hated getting her picture taken, she loved her pictures. She picked up the one on top. It was a picture of Richard and the kids eating messy burgers in their back yard. Everyone was smiling and laughing. They didn’t know she had even taken that picture. Lillian had stains of ketchup on her yellow sundress. The twins were throwing their baby food at her and laughing, and she was laughing amidst all the food in her red hair and on her white face. Even Adam, the spawn of Satan, was holding his wife’s hand and smiling at his two boys. Lillian’s brother Allen was feeding his wife grapes, and she looked satisfied for once; not happy, not sad, but satisfied. In the photograph, Richard was the only one looking at the camera. He knew. He was looking at her like Allen looked at Charlotte, as if Bea were the only one who existed. Bea held the picture and breathed deeply. She traced her fingers around his face, across his shoulders, over his smile. She took a deep breath as if able to smell the scent of him in the air. If she tried really hard, she could make herself believe that he was there with her. But he wasn’t, and then breathing became hard.</p>

<p>To resuscitate her lungs, she began sifting through the pictures, the memories filling her lungs like fresh air. A picture of Lillian at 12, skinned knees, long hair, her arm lazily around Allen, who looked shy in the picture, his awkwardly tall body hunched over so he was the same height as his twin sister. A picture of Richard enveloping Allen after he graduated from high school, Allen’s tassel floating in the wind, Richard’s smile floating with pride. A picture of Lillian with a wrinkled nose as she touched noses with her father when she was a baby, glossy drool hanging off of her chin. A picture of Allen in his Birkenstocks and frayed shorts with no shirt; Lillian with her arms around her brother, pretending to lick his face as he winced. Lillian had been the free spirit like her father, with the study habits of her mother. Allen was a little more rigid like Bea, though <i>his</i> study habits were his father’s—he got by, but only after many lectures from both parents. A picture of Richard and Allen tackling Lillian on their seventh birthdays; Allen missing his front tooth, and Lillian missing her front tooth on the opposite side. They did everything together, lost teeth together, played together, laughed together, cried together, and mourned together. Her memories were dissolving into pictures, pictures that were withstanding the time the body often couldn’t. </p>

<p>“Mom?” Lillian called from the bottom of the stairs, breaking Bea’s fantasy.</p>

<p>Bea quickly shoved the pictures into the box, closed the lid clumsily, and put it in the cedar chest. She wiped her hands across her eyes quickly to ensure that no tears escaped their prisons, and quickly closed the lid.</p>

<p>Lillian’s footsteps trampled up the stairs quickly. However, she stopped as quickly as she had run, “Wow, I haven’t been up here since…”</p>

<p>“Yes, well, what is it? Did you need something?” Bea was betraying herself.</p>

<p>Lillian looked at her mother quizzically and opened her mouth as if to reply and then closed it just as quickly. She then looked at the desk where her father used to sit. “I like this room,” she said, her face not revealing the intent of her comment. She then winked at her mother without smiling. “I’ll be downstairs.”</p>

<p>“Did you need something?” Bea questioned as she began to follow her.</p>

<p>“It isn’t important,” Lillian said without turning. “Say hi to dad for me, would ya?”</p>

<p>Something in Lillian’s voice pierced Bea’s heart, not out of spite or insult, but out of the sadness that etched every word that came out of Lillian’s mouth. And that sadness is what Bea felt with every step she took every day of her life without Richard. Bea’s thoughts buzzed around aimlessly like a bee before a frost, confused, but determined, and all the while confused about what she was determined to do. Bea stood in the center of the room watching her daughter walk down the staircase, her hands molding invisible bread, her feet firmly planted in the hardwood floor, rooting themselves into her memories of Richard.</p>

<p>***</p>

<p>When Bea finally uprooted herself, she climbed down the old wooden stairs and settled herself into the kitchen. Of the three women who occupied the kitchen, two were drinking day old coffee—Bea sipping while beginning to read the rest of the newspaper she hadn’t finished that morning, and Ezzie deep in creative thought. The third sat on the counter like a mouse eating cheese, except she wasn’t nibbling on cheese but on her own nails, which had since turned to little stumps, bloody around the edges, rough at the skin. The silence that engulfed the room was very comfortable; this would be why they were able to cohabitate. Finally, Ezzie piped in with a hint of whimsy.</p>

<p>“Did you ever think of doing anything with the attic? I mean you are spending all this time working on every other room in the house. The attic might be…”</p>

<p>“No.” Bea’s tone was neither unfriendly nor welcoming, though she tried to disguise her discomfort as she read the paper.</p>

<p>“Attic’s off limits,” Lillian said as she climbed down like a gangly monkey onto the white tiled floor, her bare feet sticking to the surface making a lapping noise as she walked over to the refrigerator to grab a beer.</p>

<p>“Where are the boys?” Bea questioned, quickly changing the subject.</p>

<p>“With Satan,” Lillian’s humor had turned very sour since the divorce. She leaned against the white tiled counter and drank away thoughts of her ex-husband.</p>

<p>“Adam has them tonight? I thought it was your night.”</p>

<p>“They are having a ‘family’ picture taken. They’ll be back in about an hour.”</p>

<p>“So, why is the attic off limits?” Ezzie would not be derailed from her path.</p>

<p>“It was Dad’s,” Lillian said in a forced casualness. Her eyes hit the floor with a thud, her nervous hands peeling the label on the sweaty bottle of beer.</p>

<p>“I had no idea. All these years I had no idea anyone even went up there.”</p>

<p>“Mom goes up there every day,” Lillian said as she was met with resistance from the label on the beer bottle.</p>

<p>“Wow, you really keep the records on my activities,” Bea said with raised dusty gray eyebrows.</p>

<p>“Or lack thereof,” Lillian said under her breath as she left the kitchen to go up to her room, her clothes hanging loosely from her disappearing curves.</p>

<p>“She doesn’t look well,” Ezzie said, her black eyebrows pointing down her nose in concern.</p>

<p>“Let’s see, her twin brother moved, her father died, and the man with whom she had two children left her for a woman <i>she</i> works with. How good do you think you’d be feeling?”</p>

<p>“I really think a therapist…”</p>

<p>“Do not include me in your menagerie of people who need to see a therapist.” Bea sliced the suggestion before it was able to reach her.</p>

<p>“Didn’t say you. I could be talking about Lillian…but also talking about you. Yes, you’re right. But I’m telling you, it’ll help. Honey, I worry about you. You are not, well, <i>you</i> lately.” Ezzie sipped her coffee, avoiding eye contact. </p>

<p><b>Chapter 6</b></p>


<p>Beep. Beep. Beep. </p>

<p>SMACK!</p>

<p>Beep. Beep. Beep.</p>

<p>SMACK!</p>

<p>Beep. Beep. Beep.</p>

<p>“Bea, honey, if you don’t want the alarm to wake you up, then why did you set it?” Ezzie questioned as she rolled over and covered herself with blankets.</p>

<p>“I have a guestroom.”</p>

<p>“Your house is cold.”</p>

<p>“Jesus,” Bea snapped as she rolled out of bed, smacking the alarm one last time for good measure. She quickly went into the closet, pulled out her standard dress-up uniform of jeans and a black sweater. She changed, brushed her hair and teeth, and then glanced at the clock. Just enough time to drink her coffee and head out the door.</p>

<p>When Bea walked into the kitchen she couldn’t help but notice the slumped figure of Ezzie, hunched over a bowl of cereal reading the morning paper, her eyes inches from it.</p>

<p>“Why don’t you put your glasses on?” Bea suggested as she pulled her china cup from the cupboard.</p>

<p>“I don’t need glasses.”</p>

<p>“You are two inches from the paper.”</p>

<p>“I like to be intimate with my surroundings.”</p>

<p>“Get any closer to it, and you’ll be intimate all right. And how in the hell did you beat me down here?” Bea whispered to herself as she poured herself a cup of black coffee, topping the cup off with some water. Everyone besides Bea drank coffee that was way too strong; and because Bea hadn’t made the coffee that morning, she decided to be proactive.</p>

<p>“Once I’m awake, I’m awake.” Ezzie squinted at the small print. “Aye yi yi, what on earth is this world coming to?”</p>

<p>Ezzie stopped reading the paper and looked up at Bea who was fully dressed in her jeans and large black sweater—her social wear, odd for a nonsocial woman during her least social time of the day.</p>

<p>“Where on earth are you going?” Ezzie questioned as she spooned Cocoa Puffs into her mouth.</p>

<p>“When did you pick up that nasty habit? Talking with your mouth full. Honestly, I don’t know how I put up with you.” Bea sipped her coffee to test the strength, adding a little more water to her caffeinated concoction. </p>

<p>Ezzie ignored Bea’s comment. “You’re in your two-day jeans.”</p>

<p>“Excuse me?” she questioned.</p>

<p>“You’re in your two-day jeans. You know, first day they are too tight, second day they fit perfectly. By the third day they really should be in the wash and if they make it to the fourth, well, they are walkin’ to the washin’ machine.”</p>

<p>“You can’t be serious?”</p>

<p>“You know I’m right, honey. Two days?”</p>

<p>Bea raised her eyebrow. “Honestly.” She continued to sip her coffee.</p>

<p>Just then Lillian walked into the kitchen with her twins in tow. “I take it you are moving in with us now?” she questioned, seemingly unfazed by the fact Ezzie was sitting at the table, but surprised to see her in their kitchen so early in the morning.</p>

<p>“Yes, baby. Ezzie kissed Lillian’s cheek when Lillian came over to give her the traditional hug. Ezzie’s arms could envelop everyone in the world, all at the same time, and no matter what she hugged, it always seemed to melt underneath those arms.</p>

<p>“You’re dressed before coffee,” Lillian observed as she pulled away to sit the chattering boys down at the table. She then placed two bowls in front of them in one motion. </p>

<p>“Can’t a woman…” Bea began.</p>

<p>“It’s before coffee, what do you expect? You never do ANYTHING before coffee.” Ezzie turned her attention to the two boys who were now sitting next to her.</p>

<p>“I’ll pick up the boys today. That way you can get some time to grade, and I can spoil them without you telling me that I’m spoiling them too much,” Bea said as she sat on the other side of the table, facing the ruby-haired twins, who wrinkled their noses in mischief, knowing that spoiling by means of grandma meant secret handshakes to keep mischief from mom.</p>

<p>“Are you sure? I can always…”</p>

<p>“I’ve already planned them into my day. Grade your papers, and do any other errands that you need to do.” Bea knew that it was almost Christmas, and while Lillian had every item for the boys circled, calculated, budgeted, etc., she had yet to find two minutes when they were not with her or when she didn’t have errands to run or papers to grade to do the shopping.</p>

<p>“That would be great,” Lillian sighed as she looked at her watch, poured her coffee, and poured cereal and milk into the twins’ bowls—in one swoop.</p>

<p>Ezzie gazed at Lillian in amazement. “When did she learn to do that?”</p>

<p>“Do what?” Lillian questioned as she made the lunches, stamped the envelopes of the bills, and wrote a To Do List.</p>

<p>“When she had to,” Bea said, as she looked up at the clock anxiously.</p>

<p>Ezzie, who had never had children herself, nodded in awe.</p>

<p>“What are you talking about?” Lillian questioned in frustration as if she were the brunt of a joke. Watching her mother check the wall clock, stand up from the table, walk over to get her purse, and walk out the sunroom door, Lillian raised an eyebrow and questioned, “And what appointment does she have that she had time to prepare the two day jeans?”</p>

<p>***</p>

<p>While mornings were never her optimal times. He insisted on having morning appointments. Add that atop the fact the modern décor made Bea immediately felt like an old rotted piece of driftwood floating in the pristine waters of pool. The décor did not exude the comfort that Bea would have liked, immediately putting a divine between her and this <i>doctor</i>. Then again, talking to anyone about her issues was, in itself, problematic. However, it was out of town, and she wanted her privacy more than her comfort at this point; she didn’t want everyone in town to know what she was up to—not that she based her life on other people’s opinions of her. But, she did value privacy, and small towns and privacy often did not embrace each other without making the local news. The whispers and looks of suspicion after her husband had died had been fastened in her mind with nails. The acidic tongues that it wasn’t cancer that killed Richard, the ringing phones that stopped the minute Richard took his last breath. They were all willing to help him; he had cancer; these were the types of things small towns were prone to breeding. And if it was known that she was seeking therapy, the venomous tongues would strike again.</p>

<p>Stung not only by his death, pierced not only by the swirling and twisting rumors and clouded by her own need for someone to tell her this was all a nightmare, Bea recognized that she was her own problem. She had been so broken down since well before Richard’s death that she didn’t know if it was even possible for her to begin repairs on what she felt were a bunch of worthless scraps.</p>

<p>While Bea sat uncomfortably in a chair that was clearly not made for anyone larger than a child, he sat comfortably in his steel throne. Bea’s hips had fought the chair with bumps and wriggles and eventual squeezing as she sat and cursed under her breath for her discomfort; for the hour she was there, for the uncomfortable chair, and for the fact she had succumbed to the notion that this guy could even possibly solve her problems.</p>

<p>“Why do you think it has been this long before you have contacted someone for help?” He interrupted her thoughts, breathing through what seemed like one nostril. He was young. He was arrogant. This wasn’t going to work. He was not Bea’s type. And he had asked this question the on the phone when she had made the appointment.</p>

<p>“Because I needed time, and I wouldn’t call this help,” she said quickly as her eyes explored the room, looking for something real to fix her gaze. She should have called and canceled after the first visit.</p>

<p>“Then what would you call it?” His voice, a mixture of condescension and pure overall aura irritated her. A move that defied his age, he looked above his rimless glasses at her.</p>

<p>“Assurance,” she said confidently. She was certainly not going to be intimidated by the man who sat before her, in a chair that was raised up so he could look taller, when, in fact, he stood almost half a foot shorter than Bea.</p>

<p>“Assurance?” he repeated with a raised, perfectly trimmed eyebrow. I can do that too, she thought to herself.</p>

<p>“Yes, assurance. I am willing to bet that even in a couple of weeks I will be assured that I do not need the help of those I have to purchase. Actually, I’m rather thinking that I won’t need a couple of weeks to figure that out.” Bea punctuated it with a forced and insincere smile, her eyes not leaving his.</p>

<p>“You haven’t <i>purchased</i> me. You pay me for my services.” Her candor made him defensive. No, this wouldn’t work. She knew this wouldn’t work.</p>

<p>“How old are you? For chrissakes,” she hissed. </p>

<p>While appearances had never even concerned Bea, this man’s attitude was woven into his appearance, and the threads were ripping her at the seams as she sat in discomfort in her small chair, her soft thighs bulging in the space between the arm of the chair and the seat. The man of about thirty-five sighed as he effeminately crossed his legs and leaned back in his chair. Just looking at him irritated her. She couldn’t stand his lifeless brown eyes, the three strips of hair that seemed to underline his bulbous nose, his teeth that always seemed to have a brown tint where white should be; and the pet peeve of all character flaws that she never would have noticed save that he just outright irritated her, was the way she felt like he was accusing instead of asking and listening to her. She knew this wouldn’t work. Why had she bothered? I need to move on, she thought. But can I move on without this guy? </p>

<p>“Beatrice, I want you to try an exercise for me.” </p>

<p>Bea’s face tightened to an angry mask. No one was permitted to call her Beatrice except her dearly departed, and because he had since departed, she had lain to rest “Beatrice,” as well.</p>

<p>“I don’t exercise.” </p>

<p>He ignored her with an exaggerated sigh and talked over her lack of interest. “I want you to think about why you cannot make that initial step toward moving on. What is holding you back? Then I want you to think about what you love most, and how you can focus more on that than what you have lost.”</p>

<p>“And once I do this ‘exercise,’ as you say, do you want me to write it down? Do you want me to call you at home? What?” </p>

<p>“Journal it. You have started your journal, yes?” Condescending tone—and that would be my cue to leave, she thought.</p>

<p>“Yes, I have, but ya know, it is really interesting to me…” she wriggled and rocked and pulled her hips from the chair that seemed more like a personal prison, stood up and began walking toward the door, “that you never ask me what is in it.” And with that final thought, she left his office.</p>

<p>***</p>

<p>She sat in her car. If she still smoked, she would have lit up. But she gave up smoking just before her grandsons were born. So, she reached into the glove compartment, grabbed the Nicorette gum that she hadn’t touched in days, and popped two out of their individual compartments. She threw them into her mouth and began chewing as if it would take away the frustration of her morning. Because she was not and never would be a morning person, she should have known that this doctor wasn’t for her when he insisted on morning appointments. </p>

<p>Chewing her gum, chewing her thoughts, she wanted to chew herself out for seeing that ridiculous excuse for a therapist. She should have sought recommendations from Ezzie, who had seen every therapist in town, both professionally and intimately. However, Bea couldn’t even keep track of who Ezzie was seeing now. And telling Ezzie was not an option. There were promises that she and Richard had made to each other, and Bea wasn’t sure she could reveal them to Ezzie. It was as if saying them aloud, these things she kept hidden, would transform them into the real nightmares she tried to forget. No, she would not tell Ezzie right now. She wanted to do this one task alone. She needed to do this alone. But it was hard doing this alone. It was hard to do a lot of things alone. It was hard to try to pretend she was fine. It was hard to look at his clothes hanging in her closet, knowing he would never fill them again. It was hard smelling his cologne that she spritzed on her pillow so that she could dream about him. It was hard seeing his toothpaste and toothbrush, his shoes under the bed; it was hard seeing his towel that had never been washed, hanging on the rack. Alone was hard. And even though she was surrounded by her friend, her daughter, and her grandchildren, she felt perpetually alone. And alone was lonely.</p>

<p>She thought about Richard and how much she missed him. His smile, the way he would laugh at her jokes in that loud laugh that would sometimes embarrassed her, because in public it would demand attention. She missed the way he made annoying sounds when he chewed—his jaw clicked and clacked and clacked and clicked. She missed the way he left his things piled all around the house, big piles, little piles, piles of papers, piles of books. She missed the way he would come up behind her, put his arms around her and kiss her cheek every morning. She missed that he tried to fix everything with duct tape, only to make things worse, so she would have to repair the mistake with twice the work of the original task. She missed how he would raise his leg when he farted in the kitchen, how he would leave notes with drawings that no one could figure out but her, how he always knew when she needed M&amp;Ms and when she needed time alone. If only she could have taken all of those alone times and spent them with him. She shook her head to snap out of her thoughts. She was spiraling down the drain of sorrow, and part of her wanted to just accept her fate and go down that drain, but the other half of her said she couldn’t.</p>

<p>“Why does everything have to be so damn complicated?” she questioned out loud as she sat in the car. The rain began to pour down the windows, making tiny dancing rivers—the symbolism was just too much. She sighed deeply and shoved her hands in her pockets. Bea sat. And sat. And sat. And sat. Nearly two hours went by and she was still sitting in her car, chewing her Nicorette gum until it was grainy slop, and threatening to gag her. She reached for the package again and popped two more pieces in her mouth. </p>

<p>As she chewed the fresh pieces, she chewed on more of her thoughts, thoughts about her two children, how Allen, the quiet one of the family, who loved his mother and his wife, but his wife and his mother didn’t love each other. Richard would say “love thy fellow man” and Bea would say, “She’s not a man, she’s a catty bitch.” She thought about how Allen would try to make all of the women in his life happy, but she often wondered if he was happy himself; his smile was not as wide. His eyes were tired. His laugh was nonexistent now. And while he had always been the more aloof of her two children, he was now much harder to reach. She felt she hardly knew her own son anymore. Ever since Allen moved to New York, the calls were becoming less frequent, as were the visits.</p>

<p>And then she thought of Lillian—Lillian had buried her life when she buried her father. Instead of moving on, she consumed her life with her boys so as not to have to live on her own. A once vibrant teacher, mother of two, and wife, was now a teacher who hid behind her teacher smile, a mother who came home from work and did nothing but spend time with her boys, and a divorcee who burrowed herself in her dead father’s old sweaters. </p>

<p>Not only did Bea have to watch her husband die, she had to watch pieces of her children start to fade away as well.</p>

<p>Bea turned the ignition. I lost my husband, I’m losing my mind, and if I’m not careful, I’m going to lose my kids, she thought to herself. She stared out the window as the rain began to slow down. If she believed in signs, she would have said this was one.</p>

<p>“Time to start bringing the dead back to life, and it isn’t gonna be easy,” she said softly as she put her car in drive, turned on the wipers and pulled out of the lot.</p>

<br />
</div>
<br/>
<div class="highlightBox">
If you like what you've read so far and want to continue reading, please support my work
by purchasing a copy.  The Kindle edition is available for only $2.99!  Thanks!
</div>

<%- contentFor('contenttitle') %>
Preview Cold Coffee
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
<div class="sideBox">
	<div class="sideBoxTitle">
		<h3>Buy It Now!</h3>
	</div>
	<div class="sideBoxContent">
		<table>
			<tr class="rowA">
				<td width="110px">Kindle Edition</td>
				<td><a href="http://www.amazon.com/Cold-Coffee-ebook/dp/B006RK8IZG" target="_blank">$2.99 - Amazon.com</a></td>
			</tr>
			<tr class="rowB">
				<td width="110px">Hardcover</td>
				<td><a href="http://www.lulu.com/shop/kristina-zakrzewski/cold-coffee/hardcover/product-18885969.html" target="_blank">$25.19 - Lulu.com</a></td>
			</tr>
		</table>
	</div>
</div>
<br/>
<br/>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad2.png"/></a>
