<a href="/books/Cold_Coffee"><img alt="Cold Coffee" src="/images/coldcoffee_cover.png" width="235" align="left" class="bookicon"/></a>
<h2>Cold Coffee</h2>
<h5>Published October 2011</h5>
<p class="highlightBox">Buy now from <strong><a href="http://www.amazon.com/Cold-Coffee-Kristina-Zakrzewski/dp/1105153673/" target="_blank">Amazon</a></strong> and <strong><a href="http://www.lulu.com/shop/kristina-zakrzewski/cold-coffee/hardcover/product-18885969.html" target="_blank">Lulu</a></strong> in hardback and eBook.</p>
<p>Beatrice Johnson. Fiercely independent. Fiercely protective. Fiercely talented when it comes to building 
anything out of raw materials. And fiercely...not able to pick herself up after the death of her husband.
Two years after, the memories of her late husband ever present, her best friend suddenly moving in, and 
her daughter struggling with life in general, Bea decides to begin rebuilding her family's lives. After 
all, with a little bit of elbow grease, and maybe some meddling, Bea can put anything back together. The 
only question is...can she put herself back together first.
</p> 
<div style="float:right;">
	<a href="http://www.amazon.com/Cold-Coffee-ebook/dp/B006RK8IZG" onclick="_gaq.push(['_trackEvent', 'home-view-cc-on-amazon', 'clicked'])" target="_blank"><img src="/images/kindle.jpg" width="150" border="0" alt="Buy this book on Amazon.com"></a>
	<a href="http://www.lulu.com/commerce/index.php?fBuyContent=12095077" onclick="_gaq.push(['_trackEvent', 'home-view-cc-on-lulu', 'clicked'])" target="_blank"><img src="http://static.lulu.com/images/services/buy_now_buttons/us/orange.gif?20120918132513" border="0" alt="Support independent publishing: Buy this e-book on Lulu."></a>
</div>
<%- contentFor('contenttitle') %>
Author, Teacher, Mother, Wife
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
<img class="hidden-phone" src="/images/kris2.png" />
