<%- message %>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="hidden" name="redirectURL" value="<%= redirectTo %>" />
    <input type="submit" value="Login">
  </p>
</form>
<%- contentFor('contenttitle') %>
Login
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
