<% for(var i=0; i<stories.length; i++) { 
    if (i == stories.length-1) {
%>
	<a class="booklistlink" href="/stories/<%= stories[i].id %>">
	<div class="booklistlast">
<% } else { %>
	<div class="booklist">
<% } %>
	  <img src="/images/stories/<%= stories[i].id %>" width="150px" align="left" class="bookicon"/>
	  <h2><%= stories[i].title %></h2>
	  <h5><%= stories[i].submitdate.toDateString() %></h5>
	  <p><%= stories[i].content %>...(click to read more)</p>
	</div>
	</a>
<% } %>

<%- contentFor('contenttitle') %>
Stories and Other Writings
<%- contentFor('contentright') %>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad2.png" /></a>
