<div class="hidden-desktop hidden-tablet">
	<img id='storyimage' align='center' width="290" src='/images/stories/<%= story._id %>' />
</div>

<h2><%= story.title %></h2>
<p><%- story.content %></p>
<h5><%= story.submitdate.toDateString() %></h5>

<% if (user) { %>
	<div class="adminops">
		<a href="/admin/stories/edit/<%= story.id %>"><img src="/images/icons/edit.png" alt="Edit" width="20" /></a>
	</div>
<% } %>

<%- contentFor('contenttitle') %>
<%= story.title %>
<%- contentFor('og_title') %>
Kristina Zakrzewski
<%- contentFor('og_description') %>
Author | Teachor | Mother | Wife
<%- contentFor('og_image') %>
/images/kris2.png
<%- contentFor('contentright') %>
<div class="hidden-phone">
	<img id='storyimage' align='center' width="290" src='/images/stories/<%= story._id %>' />
</div>
<br/><br/>
<a href="/books/Cold_Coffee"><img src="/images/coldcoffee_ad3.png" width="300" /></a>
